# Wirtualne środowisko
env/
venv/

# Pliki kompilacji Pythona
*.pyc
__pycache__/

# Lokalna baza danych SQLite
db.sqlite3

# Pliki konfiguracyjne z wrażliwymi danymi
*/settings.py

# Folder statyczny i multimedialny
static/
staticfiles/
media/

# Pliki logów
*.log

# Specyficzne dla IDE
.vscode/
.idea/

# Node modules - zależności projektu React
frontend/node_modules/

# Pliki środowiskowe Node
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Build folder - zbudowane pliki projektu React
frontend/build/

# Pliki cache i logs npm/yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*
